.link{
	float:left;
	width:300px;
	min-height:180px;
	border:solid 0px rgb(0,0,0);
	margin-bottom:20px;
	margin-left:20px;
}
.link h2{
	font-size:25px;
	font-weight: bold;
	font-family: "細明體", "標楷體";
	margin-top:0px;
	margin-left:0px;
	color:rgb(100, 88, 68);
	text-align:left;
}
.link >div{
	margin-bottom:5px;
}
.link>div>div{
    background: url("shadow.png") no-repeat;
	width: 165px;
	height: 26px;
	background-position: 0px 0px;
	display:inline-block;
}
.adrs{
    font-size:18px;
    display:block;
	margin:0 auto;
    line-height:60px;
	width:180px;
	color:rgb(255,255,255);
	text-decoration:none;
	background-color:rgb(100,88,68);
}